<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>degrok</title>
  <link rel="stylesheet" href="../css/shared.css">
  <link rel="stylesheet" href="../css/about.css">
</head>
<body>
  <p>DEGROK - Filter @grok mentions on Twitter</p>
  <p>VERSION: V1.0.0</p>
  <p>AUTHOR: <a href="https://azuradara.dev">azuradara</a></p>
  <p>SOURCE: <a href="https://github.com/azuradara/degrok">github.com/azuradara/degrok</a></p>

  <br>

  <p>Total tweets filtered: <b id="count-total-filtered">0</b></p>
  <button id="button-reset">RESET COUNTER</button>
  <script src="../js/about.js"></script>
</body>
</html>

