<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>degrok</title>
  <link rel="stylesheet" href="../css/shared.css">
  <link rel="stylesheet" href="../css/popup.css">
</head>
<body>
  <div class="popup-title">DEGROK V1.0.0</div>
  <div class="menu">
    <button id="toggleButton" class="menu-item">
      <span id="toggleText">Disable</span>
    </button>
    <button id="aboutButton" class="menu-item">About</button>
  </div>
  <script src="../js/popup.js"></script>
</body>
</html>

